# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import os

In [2]:
pwd

'C:\\Users\\kakas\\pandas_exercises\\pandas_exercises\\01_Getting_&_Knowing_Your_Data\\Chipotle'

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [39]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
# chipo = pd.read_csv('chipotle.txt', sep='\t')
# chipo.head()

### Step 4. See the first 10 entries

In [40]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [14]:
# Solution 1
chipo.shape[0]

4622

In [23]:
# Solution 2
# len(chipo.index)
len(chipo.axes[0])
# chipo.count()[0]
# chipo.count() prints all counted data in dataframe

4622

### Step 6. What is the number of columns in the dataset?

In [27]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [28]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [29]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [65]:
# chipo['item_name'].value_counts().idxmax() # another code to know the most ordered item
c = chipo.groupby('item_name').sum() # the sum of each item ordered 
c = c.sort_values(['quantity'], ascending = False) # sorted by quantity 
c.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 10. For the most-ordered item, how many items were ordered?

In [70]:
c['order_id'].head(1).sum()

713926

### Step 11. What was the most ordered item in the choice_description column?

In [75]:
chipo['choice_description'].value_counts().idxmax()
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [80]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [92]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
    
except:TypeError

#### Step 13.c. Check the item price type

In [85]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [95]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [98]:
order = chipo.order_id.value_counts().count()
order

1834

### Step 16. What is the average revenue amount per order?

In [102]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [106]:
# Solution 2
d = order_grouped = chipo.groupby(['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [108]:
chipo.item_name.value_counts().count()

50

## the data we gathered:
1-