# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [16]:
r1 = pd.Series(np.random.randint(1, 4, 100))
r2 = pd.Series(np.random.randint(1, 3, 100))
r3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [27]:
random = pd.concat([r1,r2,r3],axis=1)
random

    0  1      2
0   2  2  23707
1   3  2  17319
2   1  1  25173
3   2  2  10303
4   1  2  16031
.. .. ..    ...
95  3  1  15096
96  2  1  17373
97  1  1  19546
98  2  1  12273
99  1  2  22557

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [29]:
random.columns = ['bedrs','bathrs','price_sqr_meter']
random

    bedrs  bathrs  price_sqr_meter
0       2       2            23707
1       3       2            17319
2       1       1            25173
3       2       2            10303
4       1       2            16031
..    ...     ...              ...
95      3       1            15096
96      2       1            17373
97      1       1            19546
98      2       1            12273
99      1       2            22557

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [31]:
bigcolumn = pd.concat([r1,r2,r3], axis=0)
bigcolumn

0         2
1         3
2         1
3         2
4         1
      ...
95    15096
96    17373
97    19546
98    12273
99    22557
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [33]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [41]:
# bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn.index = range(0,300)
bigcolumn

0          2
1          3
2          1
3          2
4          1
       ...
295    15096
296    17373
297    19546
298    12273
299    22557
Length: 300, dtype: int32